h1 {
	font-size: 20em;
}

.category {
	padding: 0px 0px 10px 25px;
}

.wrapper {
	left: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
/*	position: absolute;*/
}

.breakfast {
	width: 25%;
	height: 100%;
	cursor: pointer;
	background-color: #FDDD3D;
	background: url(../icons/breakfast/breakfast_bg.png);
	float: left;
}
.breakfast h1 {
	color:#ffeaa7;
}

.lunch {
	width: 25%;
	height: 100%;
	cursor: pointer;
	background-color: #ff6a6a;
	background: url(../icons/lunch/lunch_bg.png);
	float: left;
}
.lunch h1 {
	color: #fda5a5;
}
.drinks {
	width: 25%;
	height: 100%;
	cursor: pointer;
	background-color: #5fc1ff;
	background: url(../icons/drinks/drinks_bg.png);
	float: left;
}
.drinks h1 {
	color: #ceecff;
}

.salad {
	width: 25%;
	height: 100%;
	cursor: pointer;
	background-color: #87ffb4;
	background: url(../icons/salad/salad_bg.png);
	float: left;
}
.salad h1 {
	color: #bcffd5;
}



.active {
    height: 100%;
    width: 100%;
}

.hide {
    display: none;
}

.navbar {
	margin-bottom: 0px;
}
    #map {
        width: 100%;
        height: 400px;
        background-color: grey;
      }