html { 
    height: 100%;
}
body { 
    height: 100%;
}
.row {
	height: 100%;
}
.breakfast {
	background-color: #FFEC72;
	height: 100%;
}
.lunch {
	background-color: #FF7C24;
	height: 100%;
}
.drinks {
	background-color: #8DD1FF;
	height: 100%;
}
.salad {
	background-color: #7BEA91;
	height: 100%;
}
.fullscreen {
	position:absolute;
	left: 0;
	width: 100%;
	z-index: 100;
}
.menu-body {
	height: 100%;
}
.navbar {
    z-index: 10000;
    margin-bottom: 0px;
}